{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link href="{% static "estate/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/bootstrap-select/css/bootstrap-select.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/bootstrap-fileinput/css/fileinput.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/template/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include "estate/modules/modal.html" %}
{% include "estate/modules/topmenu.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Overzicht van Makelaars</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Voornaam</th>
                        <th>Achternaam</th>
                        <th>Straat</th>
                        <th>Huisnummer</th>
                        <th>Postcode</th>
                        <th>Plaats</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for agent in agents %}
                        <tr>
                            <td>{{ agent.name }}</td>
                            <td>{{ agent.first_name }}</td>
                            <td>{{ agent.last_name }}</td>
                            <td>{{ agent.street }}</td>
                            <td>{{ agent.nr }}</td>
                            <td>{{ agent.zip }}</td>
                            <td>{{ agent.town }}</td>
                            <td><i class="fa fa-trash {{ agent.id }}"></i></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{% static "estate/jquery/js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "estate/bootstrap/js/bootstrap.min.js" %}"></script>
<script>
    $(document).ready(function(){
        $('.fa-trash').click(function(){
            var agent_id = this.className.split(' ').slice(-1)[0];

            $.post('/api/agent_delete.json', {'agent_id': agent_id}, function(){

            }).success(function( data ){
                modal('Succes!', data.message);
            }).fail(function( data ){
                modal('Fout!', data.responseJSON.message);
            })
        });
    });
    function modal(title, message) {
        $('.modal-title').html(title);
        $('.modal-message').html(message);
        $('#myModal').modal({show: true});
        setTimeout(function(){ window.location = '/estate/agents/overview/'; }, 1500);
    }
</script>
</body>
</html>
