{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link href="{% static "estate/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/bootstrap-select/css/bootstrap-select.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/bootstrap-fileinput/css/fileinput.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/template/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include "estate/modules/modal.html" %}
{% include "estate/modules/topmenu.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Estate Dashboard</h1>
        </div>
        <div class="col-md-4">
            <h4>Last actions</h4>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>#</th><th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="{% static "estate/jquery/js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "estate/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
