{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link href="{% static "estate/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/bootstrap-select/css/bootstrap-select.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/bootstrap-fileinput/css/fileinput.min.css" %}" rel="stylesheet">
    <link href="{% static "estate/template/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include "estate/modules/modal.html" %}
{% include "estate/modules/topmenu.html" %}
<div class="container wizard">
    {% include "estate/modules/step-1.html" %}
    {% include "estate/modules/step-2.html" %}
    {% include "estate/modules/step-3.html" %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 step-btn-container" style="padding-top: 50px;">
            <button class="btn btn-primary step-btn">Previous</button>
            <button class="btn btn-primary pull-right step-btn">Next</button>
        </div>
    </div>
</div>

<script src="{% static "estate/jquery/js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "estate/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "estate/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
<script src="{% static "estate/bootstrap-fileinput/js/fileinput.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfn-TKy_Lb-jijjUzRLbDzFitJnleT5CE"></script>
<script src="{% static "bootstrap/js/map_styles.js" %}"></script>
<script>
    $(document).ready(function () {
        // INIT VARIABLES
        $('.selectpicker').selectpicker();


        // START STEP 1
        $('.zip').focusout(function () {
            if ($('.zip').val() > '') {
                $('.nr').focusout(function () {
                    if ($('.nr').val() > '') {
                        var nr = $(this).val();
                        $.post('/api/location_info.json', {
                            'zip': zip,
                            'nr': nr
                        }).success(function( data ){
                            data = data['resource'];

                            var street = data['street'];
                            var town = data['town'];
                            var province = data['province'];
                            var municipality = data['municipality'];
                            var lat = data['latitude'];
                            var lng = data['longitude'];

                            $('.street').val(street);
                            $('.town').val(town);
                            $('.lat').val(lat);
                            $('.lon').val(lng);

                            map.setCenter({lat: lat, lng: lng});
                            place_marker(lat, lng);
                        }).fail(function(){
                            modal('Fout!', 'Straat en plaats konden niet worden gevonden, voer handmatig aan!');
                            $('.street').prop("disabled", false);
                            $('.town').prop("disabled", false);
                        });
                    }
                    else {
                        Todo: Uncomment
                        modal('Fout!', 'Er is geen geldig huisnummer ingevuld!');
                    }
                });
            }
            else {
                // Todo: Uncomment
                $('.zip').focus();
                //modal('Fout!', 'Voer een geldige postcode in!');
            }
            var zip = $(this).val();
        });
        // END STEP 1

        // START STEP 2
        var selected_agent = 0;
        $('.agent').on('change', function () {
            selected_agent = $('.agent option:selected').val();
            $('.agent_id').val(selected_agent);
            agent_info({'agent_id': selected_agent});
        });
        // END STEP 2
        var price_type = 0;
        $('.price_type').on('change', function () {
            // Todo: start here
            price_type = $('.price_type option:selected').val();
            console.log(price_type);
        });

        function modal(title, message) {
            $('.modal-title').html(title);
            $('.modal-message').html(message);
            $('#myModal').modal({show: true});
        }

        //Todo: Count the steps and hide step when goto new step
        var step_counter = 1;
        var step_container_counter = 1;
        var step_containers = {};
        var form_succes = true;

        $('.wizard').children('.step').each(function () {
            $(this).addClass('step-' + step_container_counter);
            step_containers[step_container_counter] = $(this);
            step_container_counter++;
            $(this).hide();
        });

        function wizard() {
            $('.step-nr').html('Stap ' + step_counter + '. ');
            for (var container in step_containers) {
                if (container != step_counter) {
                    step_containers[container].hide();
                }
                else {
                    step_containers[container].fadeIn();
                }
            }
        }
        wizard();

        $('.step-btn').click(function () {
            if (this.innerHTML == 'Next') {
                if(step_counter == step_container_counter - 1){
                    if(form_succes == true){
                        create_object();
                        modal('Geslaagd!', 'Het object is succesvol toegevoegd!');
                        setTimeout(function(){ window.location = '/estate/objects/overview/'; }, 1500);
                    }
                    step_counter = step_container_counter - 1;
                }
                if(step_counter == 1){
                    agent_info(data={'agent_id': 1});
                    step_counter++;
                }
                else{
                    step_counter++;
                }
            }
            if (this.innerHTML == 'Previous') {
                if (step_counter == 1) {
                    // Todo: nicetohave step btn == cancel @ first step
                    step_counter = 1;
                }
                else {
                    step_counter--;
                }
            }
            wizard();
            InitMap('agent-map');
        });

    });

    function agent_info(data){
        var agent_id = data.agent_id
        $.post('/api/agent_info.json', data, function(){
            console.log('Agent info post request send!');
        }).success(function(data){
            // fill hidden agent_id field
            $('.agent_id').val(agent_id);

            $('.name').html(data.data.fields.name);
            $('.first_name').html(data.data.fields.first_name);
            $('.last_name').html(data.data.fields.last_name);
            $('.street').html(data.data.fields.street);
            $('.nr').html(data.data.fields.nr);
            $('.nr_prefix').html(data.data.fields.nr_prefix);
            $('.town').html(data.data.fields.town);
            $('.email').html(data.data.fields.email);
            $('.phone').html(data.data.fields.phone);
        }).fail(function(){
           console.log('Agent info failed');
        });
    }

    function create_object(){
        var post_data = {
            'zip': $('.zip').val(),
            'nr': $('.nr').val(),
            'nr_prefix': $('.nr_prefix').val(),
            'street': $('.street').val(),
            'town': $('.town').val(),
            'lat': $('.lat').val(),
            'lon': $('.lon').val(),
            'agent_id': $('.agent_id').val(),
            'price_type': $('.price_type option:selected').val(),
            'price': $('.price').val(),
            'image': $('.image').val(),
            'url': $('.url').val()
        };
        $.post('/api/object_add.json', post_data, function( data ){
            console.log(data);
        });
        console.log(post_data);
    }
    // Google Maps
    var map;

    function InitMap(elem) {
        map = new google.maps.Map(document.getElementById(elem), {
            center: {
                lat: 52.266075,
                lng: 6.155217
            },
            zoom: 14,
            disableDefaultUI: true,
            styles: map_styles
        });
    }
    InitMap('map');

    function place_marker(lat, lng) {
        var marker = new google.maps.Marker({
            position: {
                lat: lat,
                lng: lng
            },
            map: map
        });
    }
</script>
</body>
</html>
