{% load static %}
<div class="row step">
    <h3><span class="step-nr"></span> Makelaargegevens</h3>
    <input type="text" class="agent_id" name="agent_id" hidden/>
    <div class="col-md-6">
        <div class="form-group">
            <label for="agent">Selecteer een makelaar</label>
            <select class="selectpicker form-control agent" data-live-search="true" name="agent">
                {% for agent in agents %}
                    <option value="{{ agent.id }}">{{ agent.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <table class="table table-striped">
                <tbody class="agent-table-body">
                <label for="table">Makelaar gegevens</label>
                    <tr><th>Naam</th><td class="name"></td></tr>
                    <tr><th>Voornaam</th><td class="first_name"></td></tr>
                    <tr><th>Achternaam</th><td class="last_name"></td></tr>
                    <tr><th>Straat</th><td class="street"></td></tr>
                    <tr><th>Huisnummer</th><td class="nr"></td></tr>
                    <tr><th>Postcode</th><td class="nr_prefix"></td></tr>
                    <tr><th>Plaats</th><td class="town"></td></tr>
                    <tr><th>Email</th><td class="email"></td></tr>
                    <tr><th>Telefoon</th><td class="phone"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="agent-image"></div>
    </div>
</div>