{% load static %}
<div class="row step">
    <h3><span class="step-nr"></span> Locatiegegevens</h3>
    <div class="col-md-6">
        <div class="form-group">
            <label for="zip">Postcode</label>
            <input class="input-sm form-control zip required" type="text" name="zip" placeholder="Zip" autofocus/>
        </div>
        <div class="form-group">
            <label for="zip">Huisnummer</label>
            <input class="input-sm form-control nr" type="text" name="nr" placeholder="Nr"/>
        </div>
        <div class="form-group">
            <label for="zip">Toevoeging</label>
            <input class="input-sm form-control nr_prefix" type="text" name="nr_prefix" placeholder="Prefix"/>
        </div>
        <div class="form-group">
            <label for="zip">Straat</label>
            <input class="input-sm form-control street" type="text" name="street" placeholder="Street" disabled/>
        </div>
        <div class="form-group">
            <label for="zip">Plaats</label>
            <input class="input-sm form-control town" type="text" name="town" placeholder="Town" disabled/>
            <input class="lat" type="text" name="lat" hidden/>
            <input class="lon" type="text" name="lon" hidden/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="map" id="map"></div>
    </div>
</div>