{% load static %}
<div class="row step">
    <h3><span class="step-nr"></span> Objectgegevens</h3>

    <div class="col-md-6">
        <div class="form-group">
            <select class="selectpicker form-control price_type" name="price_type">
                <option value="RM" selected>Huur per maand</option>
                <option value="RY">Huur per jaar</option>
                <option value="FS">Te koop</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Prijs</label>
            <input class="input-sm form-control price" type="text" name="price" placeholder="price" />
        </div>
        <div class="form-group">
            <label for="price">Afbeelding</label>
            <input class="input-sm form-control image file" type="file" name="image" placeholder="images" />
        </div>
        <div class="form-group">
            <label for="price">Link naar makelaar</label>
            <input class="input-sm form-control url" type="text" name="url" placeholder="url" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="map " id="agent-map"></div>
    </div>
</div>