<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/estate/">SJWID</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Panden<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/estate/objects/add/">Toevoegen</a></li>
                        <li><a href="/estate/objects/overview/">Wijzigen</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Makelaars<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/estate/agents/add/">Toevoegen</a></li>
                        <li><a href="/estate/agents/overview/">Wijzigen</a></li>
                    </ul>
                </li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>