{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>SJWID API</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "api/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Bootstrap-seelct core CSS -->
    <link href="{% static "api/bootstrap-select/css/bootstrap-select.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "estate/template/css/form.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">{{ button_text }}</button>
            </form>
        </div>
    </div>
</div>
<script src="{% static "api/jquery/js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "api/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "api/bootstrap-select/js/bootstrap-select.min.js" %}"></script>
<script>
    $(document).ready(function(){
        $('.form').children().each(function(){
            $(this).children().each(function(){
               if(this.localName == 'select'){
                   $(this).addClass('form-control');
                   $(this).selectpicker();
               }
            });
        })
    });
</script>
</body>
</html>